@using MvcPaging
@model MvcPaging.IPagedList<MMS.Entities.Models.FMS_Transaction>

@{
    ViewBag.Title = "Transaction List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#page-leftbar li").removeClass("active");
        $("#liTransactionList").addClass("active");
        $('.input-group.date').datepicker({
            todayBtn: "linked",
            language: "it",
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });
    });
</script>

@section breadcrumb
{
    <li><a href="~/Dashboard/index">Dashboard</a></li>
    <li>FMS Operation</li>
    <li class="active">Transaction List</li>
}
@section title
{
    @ViewBag.Title
}
<style type="text/css">
    .form-inline .form-control {
        width: 100%;
    }

    .form-inline input {
        max-width: 100%;
        width: 100%;
    }

    .form-inline .form-group {
        width: 80%;
    }

    /*.margin {
        margin-top: 20px;
        margin-bottom: 20px;
    }*/
</style>
@using (Html.BeginForm("Index", "Transaction", FormMethod.Get))
{
    <div class="row margin">
        <div class="col-md-6">
        </div>
        <div class="form-inline col-md-6" style="margin-bottom: 20px">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control " id="searchItem1" name="searchItem1" placeholder="Voucher Id" value="@ViewData["searchItem1"]">
            </div>
            <div class="col-md-5">
                <div class='input-group date'>
                    <input type="text" class="form-control" id="searchItem" readonly name="searchItem" placeholder="Search item" value="@ViewData["searchItem"]">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar">
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().VoucherId)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FMS_VoucherType.VoucherTypeName)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TransactionDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TranactionAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsApproved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsPosted)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FMS_VoucherType.VoucherTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TranactionAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsApproved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPosted)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                            @if ((GolbalSession.gblSession.UserRights.Exists(x => x.Equals("FMS030") || x.Equals("FMS031") || x.Equals("FMS032") || x.Equals("FMS033") || x.Equals("FMS034"))))
                            {
                                <ul class="dropdown-menu dropdown-menu-right">
                                    @if ((GolbalSession.gblSession.UserRights.Exists(x => x.Equals("FMS030"))))
                                    {
                                        <li>@Html.ActionLink("Edit", "Edit", "TransactionVM", new { encrid = @MMS.Utility.Encryption.encrypt(Convert.ToString(item.TransactionId)) }, null)</li>
                                        <li class="divider"></li>
                                    }
                                    @if ((GolbalSession.gblSession.UserRights.Exists(x => x.Equals("FMS031"))))
                                    {
                                        <li>@Html.ActionLink("Voucher", "GetVoucherByTransactionId", "FMSReports", new { TransactionId = item.TransactionId }, new { target = "_blank" })</li>
                                        <li class="divider"></li>
                                    }
                                    @if (@item.IsApproved && (@item.IsPosted == false))
                                    {

                                        if ((GolbalSession.gblSession.UserRights.Exists(x => x.Equals("FMS032"))))
                                        {
                                            <li>@Html.ActionLink("UnApproved", "TransactionApproved", "Transaction", new { id = item.TransactionId, IsApproved = false }, new { })</li>
                                            <li class="divider"></li>
                                        }

                                    }

                                    else if (@item.IsPosted == false && @item.IsApproved == false)
                                    {
                                        if ((GolbalSession.gblSession.UserRights.Exists(x => x.Equals("FMS033"))))
                                        {

                                            <li>@Html.ActionLink("Approved", "TransactionApproved", "Transaction", new { id = item.TransactionId, IsApproved = true }, new { })</li>

                                        }

                                        if ((GolbalSession.gblSession.UserRights.Exists(x => x.Equals("FMS034"))))
                                        {
                                            <li class="divider"></li>

                                            <li>@Html.ActionLink("Delete", "TransactionDelete", "Transaction", new { id = item.TransactionId }, new { })</li>
                                        }

                                    }

                                </ul>
                            }
                        </div>

                    </td>
                </tr>
            }
        <tbody>
    </table>

    <hr />
    <div class="pager">
        @Html.Raw(Html.Pager(
                 new Options
                 {
                     PageSize = Model.PageSize,
                     TotalItemCount = Model.TotalItemCount,
                     CurrentPage = Model.PageNumber,
                     ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                     ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                     TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                     Size = Size.normal,
                     Alignment = Alignment.centered,
                     IsShowControls = true,
                     IsShowFirstLast = true,
                     IsShowPages = true
                 }, new { searchItem1 = ViewData["searchItem1"], searchItem = ViewData["searchItem"] }))
        <div class="well">
            Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
            of <span class="badge badge-info">@Model.TotalItemCount</span> entries
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapth")
}






