
@model IEnumerable<MMS.Entities.Models.Location>
@{
    ViewBag.Title = "Location List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#page-leftbar li").removeClass("active");

        $("#liAdmin").addClass("active");
        $("#liLocation").addClass("active");
    });



</script>

@section breadcrumb
{
    <li><a href="~/Dashboard/index">Dashboard</a></li>
    <li>Administration</li>
    <li class="active">Location List</li>
}
@section title
{
    @ViewBag.Title
}
<style type="text/css">
    .form-inline .form-control {
        width: 100%;
    }

    .form-inline input {
        max-width: 100%;
        width: 100%;
    }

    .form-inline .form-group {
        width: 80%;
    }

   
</style>
@using (Html.BeginForm("Index", "VendorInfo", FormMethod.Get))
{
    <div class="row margin">
        @*<div class="col-md-5">
           
            <p>
            <p> @Html.ActionLink("Create New Vendor", "Create", "VendorInfo", null, new { @class = "btn btn-success btn-xs" })</p>

            </p>
            
        </div>*@
        <div class="form-inline col-md-6" style="margin-bottom: 20px">

            <div class="form-group">
                <input type="text" class="form-control " id="searchItem" name="searchItem" placeholder="Search item" value="@ViewData["searchItem"]">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsSendApplicantMesasge)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ApplicantMessageBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IsSendAgentMesasge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AgentMessageBody)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSendApplicantMesasge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicantMessageBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSendAgentMesasge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgentMessageBody)
                    </td>
                   
                    <td>

                        @Html.ActionLink("Edit", "Edit", "Location", new { id = item.ID }, new { @class = "btn btn-success btn-xs" })
                       
                    </td>
                </tr>
            }
        <tbody>
    </table>
    
}




