@model MMS.Entities.Models.Company

@{
    ViewBag.Title = "Company Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/dist/css/bootstrap-select.css">
<script type="text/javascript">
    $(document).ready(function () {

        var companyInfo = {
            listTemplate: "<tr><td>[materialid]</td><td>[material]</td><td>[RequiredQuantity]</td><td>[AvgPrice]</td><td>[UnitofmeasurementName]</td><td><button type='button' class='remove btn btn-danger btn-sm'><span class='glyphicon glyphicon-remove-sign'></span>Delete</button></td></tr>",
            company: {

            },
            company: [],
            Initialize: function () {
                $("#page-leftbar li").removeClass("active");

                $("#liAdmin").addClass("active");
                $("#liCompany").addClass("active");



                $("#AgentTypeID").attr('data-live-search', true);
                $("#NationalityID").attr('data-live-search', true);

                $("#CountryID").attr('data-live-search', true);
                var optionalLabel = 'Please Select..';
                $('#ddlDivisionId').change(function (event) {

                    if ($('#ddlDivisionId').val() == '' || $('#ddlDivisionId').val() == null) {
                        $("#ddlDistrict").empty();
                        $("#PermanentUpazilaID").empty();
                        $("#ddlDistrict").append($('<option/>', {
                            value: "",
                            text: optionalLabel
                        }));
                        $("#PermanentUpazilaID").append($('<option/>', {
                            value: "",
                            text: optionalLabel
                        }));
                        return false;
                    }
                    else {
                        LoadDropDownList('ddlDistrict'
                     , '@Url.Content("~/District/GetDistrictByDivisionId")?divisionId=' + $('#ddlDivisionId').val()
                  , "Please Select.."
                  , null);
                        $("#PermanentUpazilaID").empty();
                        $("#PermanentUpazilaID").append($('<option/>', {
                            value: "",
                            text: optionalLabel
                        }));

                    }



                });

                $('#ddlDistrict').change(function (event) {
                    LoadDropDownList('PermanentUpazilaID'
                       , '@Url.Content("~/Upazila/GetUpazilaByDistrictId")?districtId=' + $('#ddlDistrict').val()
                    , "Please Select.."
                    , null);
                });
                $("#btnAdd").click(function () {

                });

                $('#applicant_ID').change(function () {
                    var applicantID = $('#applicant_ID').val();

                    var url = "/LocationChangeVM/GetApplicantLocation?Id=" + $("#applicant_ID").val() + "&IsApplicant=true";
                    window.location = url;
                });


            },

        }
        companyInfo.Initialize();

    });
    function AgentImageCheck() {
        // alert("dsfd");
        if (typeof ($("#uploadAgentImage")[0].files) != "undefined") {
            var size = parseFloat($("#uploadAgentImage")[0].files[0].size / 1024).toFixed(2);
            if (size > 300) {
                alert("Image is not greater than 300KB");
                return false;
            }
            else {
                true;
            }
            // alert(size + " KB.");
        } else {
            alert("This browser does not support HTML5.");
        }
    }


</script>

<script src="~/dist/js/bootstrap-select.js"></script>
@section breadcrumb
{
    <li><a href="~/Dashboard/index">Dashboard</a></li>
    <li>Administration</li>
    <li class="active">Agent Setup</li>
}
@*@section title
    {
        @ViewBag.Title
    }*@

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }

    .backTolist {
        font-size: 1em;
        font-weight: normal;
    }

        .backTolist:hover {
            text-decoration: none;
        }

    .fileSets {
        border: 1px dotted #ddd;
        margin: 0px 10px 20px 0;
        padding: 20px 10px 0px 10px;
    }

    .required:after {
        content: " *";
        color: #f00;
    }

    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>
<p> @Html.ActionLink("Go Back to Company List", "Index", null, null, new { @class = "btn btn-success" })</p>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-info">

        <div class="panel-heading">
            @ViewBag.Title.ToString()

        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <fieldset class="fileSets">
                        <legend class="scheduler-border">Company Basic Info</legend>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.CompanyTypeID, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.CompanyTypeID, new SelectList(Model.kvpComapnyType, "Key", "Value", Model.CompanyTypeID), "Select Company Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyTypeID)
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.Label("Photo (300 kb):", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" name="uploadAgentImage" id="uploadAgentImage" onchange="checkPhoto(this)" />
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="checkbox" class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <div class="checkbox block">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsActive) @Html.LabelFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.LicenseNo, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.LicenseNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LicenseNo)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Telephone, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.Telephone)
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.Address, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.Email, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Mobile, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Mobile)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.NationalityID, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.NationalityID, new SelectList(Model.kvpNationality, "Key", "Value", Model.NationalityID), "Select Nationality", new { @class = "selectpicker show-tick form-control" })
                                @Html.ValidationMessageFor(model => model.NationalityID)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.CountryID, new { @class = "col-sm-4 control-label required" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.CountryID, new SelectList(Model.kvpCountry, "Key", "Value", Model.CountryID), "Select Country", new { @class = "selectpicker show-tick form-control" })
                                @Html.ValidationMessageFor(model => model.CountryID)
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset class="fileSets">
                        <legend class="scheduler-border">Delegate Info</legend>
                        <div class="form-group">

                            @Html.LabelFor(model => model.DelegatePersonName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DelegatePersonName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DelegatePersonName)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.DelegateAbroadMobileNo, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DelegateAbroadMobileNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DelegateAbroadMobileNo)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.DelegateAbroadAddress, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.DelegateAbroadAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DelegateAbroadAddress)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.DelegateBangladeshiAddress, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.DelegateBangladeshiAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DelegateBangladeshiAddress)
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.DelegateMobileNo, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DelegateMobileNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DelegateMobileNo)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <input type="submit" value="Create" class="btn-primary btn" onclick=" return AddConfirm()" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
